@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css);
/* montserrat-regular - latin */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



/* Card style//////////////////*/
html,
body {
  height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.os-container{
  margin: 0 auto;
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.os-product-card{
  background-color: #f9f9f9;
  font-family: Montserrat, sans-serif;
  width: 300px;
  margin: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 14%);
  box-sizing: border-box;

}

.product-image{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 12px 12px 0;
}

.product-rating-price{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.product-content{
  padding: 22px 24px 10px 24px;
}

.product-rating{
  background-color: #7e72f2;
  border-radius: 3px;
  color: #fff;
  flex: 1;
  font-size: .875rem;
  font-weight: 400;
  max-width: 70px;
  padding: 6px 12px;
}

.product-price{
  color: #2c2c2c;
  font-size: 1.2rem;
  font-weight: 400;
}

.product-title{
  height: 60px;
  width: 260px;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: normal;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word
}

.product-description{
  font-size: 0.7rem;
}

.product-footer{
  display: grid;
  grid-template-columns: 1fr;

}

.wrapper-btn-primary{
  border: none;
  background-color: #7e72f2;
  color: #fff;
  justify-content: center;
  padding-bottom: 13px;
  padding-top: 13px;
  border-radius: 0 0 10px 10px;
  align-items: center;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  transition: .3s;
}

.wrapper-btn-primary:hover{
  background-color: #4636db;
}

.wrapper-btn-primary:active{
  opacity: 0.7;
}

/* Card list///////////////////////////////*/

.os-product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  

/* Pagination///////////////////////////////*/

  .os-products-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: auto;
  }
  
  .os-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }
  
  .os-pagination .previous{
    margin-right: 15px;
  }
  
  .os-pagination .page-link {
    align-items: center;
    background-color: #ededed;
    border-radius: 20px;
    color: #2c2c2c;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: .3s;
    inline-size: 40px;
    text-decoration: none;
  }
  
  .os-pagination .page-list {
    border-radius: 20px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .os-pagination .page-link.active, .os-pagination .page-link:hover {
    background-color: #7e72f2;
    color: #fff;
  }
  
  .os-pagination .next {
    margin-left: 15px;
  }

  /* Header////////////////////////// */

  .os-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .os-logo-text{
    font-family: Montserrat, serif;
    font-size: 2.5rem;
    color: #7e72f2;;
    font-weight: 600;
  }

  .os-btn-primary{
    width: 120px;
    height: 36px;
    background-color: #7e72f2;;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .os-btn-primary:hover{
    background-color: #5140e7;
    transition: background-color, 0.7s;
  }


  


  
/* Search///////////////////////////////*/

.os-form-input{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px;
}

.os-form-input>input{
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 15);
  width: 100%;
  padding: 15px 18px;
  font-family: Montserrat,sans-serif;
  font-size: 1.2rem;
}

.os-form-input.use-icon {
  position: relative;
}

.os-form-input.use-icon .input-icon{
  align-items: center;
  color: #606060;
  display: flex;
  font-size: 1.375rem;
  height: 100%;
  position: absolute;
  right: 40px;
  top: 0;
}

.style-search{
  border: none;
  outline: none;
  font-family: Montserrat,sans-serif;
  font-size: 1.2rem;
}
/* 
.os-form-input.use-icon>input {
  padding-right: 70px;
} */


